venv
# Python
__pycache__/
*.pyc
venv/
.env

# Node / Vite
node_modules/
dist/

# Databases / compiled files
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml
